/* Samrtphone landscape >>>>>>>>>>>>*/

@media (min-width:576px) {
    

}


/* Tablet portrait >>>>>>>>>>>>>>>>*/
@media (min-width:768px) {


}

/* Tablet Landscape >>>>>>>>>>>>>>>*/
@media (min-width:992px) {

}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px) {
    /* cabeçalho */
    
    header {
        height: 120px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    .flex {
        padding: 0px 150px;
    }
    
     label {
        display: none;
     }

     nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 60px;
     }
    
     nav ul li {
        float: left;
        border: 0;
     }

     nav ul li a {
        font-weight: bold;
     }

     nav ul li a:hover {
        color: blue;
     }
}