/* Samrtphone landscape >>>>>>>>>>>>*/

@media (min-width:576px) {
    

}


/* Tablet portrait >>>>>>>>>>>>>>>>*/
@media (min-width:768px) {

   main {
      background-position: center center;
   }

   #portfolio {
      height: 100vh;
      width: 730px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 1px solid black;

   }

   .bloco {
      display: flex;
      
      justify-content: flex-end;
      border: 1px solid red;
      width: 200px;
      height: 320px;
   }
   

   

}

/* Tablet Landscape >>>>>>>>>>>>>>>*/
@media (min-width:992px) {

}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px) {
    /* cabeçalho */
    
    header {
        height: 120px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    .flex {
        padding: 0px 150px;
    }
    
     label {
        display: none;
     }

     nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 60px;
     }
    
     nav ul li {
        float: left;
        border: 0;
     }

     nav ul li a {
        font-weight: bold;
     }

     nav ul li a:hover {
        color: blue;
     }

     main {
      height: 100vh;
      
     }

     .texto {
      margin: auto;
      
     }

     .texto h1 {
      font-size: 2.2em;
     }

     .texto h2 {
      font-size: 2.0em;
     }
   
     #portfolio {
      height: 50vh;
      min-width: 1300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border: 1px solid black;
   }

   .bloco {
      border: 1px solid red;
      width: 400px;
      height: 250px;
   }

   .bloco h2 {
      display: inline;
      text-align: center;

   }

   .caixa {
      border: 1px solid white;
      width: 350px;
      height: 250px;
   }
}