@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#292d33 ;
}

header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

header img {
   width: 90px;

}

header ul{
    list-style: none;
    display: flex;
    margin-top: 70px;
}

header li + li {
    margin-left: 15px;
}

header  a {
    color: blue;
    font-size: 1.1em;
    text-decoration: none;

}

a:hover {
    color: blue;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 65vh;
    background: url(../imagens/sala.jpg);
    background-size: cover;
    
    
}

main h1 {
    color: black;
    font-size: 1.6em;
    
}

main h2 {
    color: black;
    font-size: 1.5em;
    margin: 20px 0px 0px 0px ;
}

.bloco1 {
    background-color: rgb(7, 7, 109);
    width: 360px;
    padding: 100px 0px;
    border-radius: 10px;
    margin:  auto ;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.texto h1 {
    padding-bottom: 20px;
}