@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


/* cabeçalho */
#inicio {
    height: 60px;
    padding-bottom: 50px ;
}

#logo img {
    width: 100px;
    height: 100px;
}

#icheck {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.489);
}

nav ul {
    list-style: none;
    background-color: lightgray;
    height: 100vh;
    position: fixed;
    top: 48px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#icheck:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid black;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

main {
    display: flex;
    align-items: center;
    height: 85vh;
    background: url(../imagens/sala.jpg);
    background-size: cover;
    
}

.texto {
    text-align: center;
    color: #322ED9;
    
}

.texto h1 {
    padding-bottom: 20px;
}

/* portfolio */

#port {
    background-color: #4D3EF0;
}

#portfolio {
    width: 300px;
    margin: auto;
    display: flex;
    height: 105vh;
    flex-direction: column;
}

#portfolio h2 {
    text-align: center;
    padding-bottom: 10px;
}

.bloco {
    width: 300px;
    height: 200px;
    margin:  0px auto;
    padding: 10px 0px ;
    
    
}

.caixa {
    text-align: center;
    width: 250px;
    height: 180px;
    margin: auto;
    
}

.caixa img {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    
}

.martelo {
    display: none;
}

